<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% extends "app_busqueda/padre.html" %}
    {% load static %}
    {% block contenidoQueCambia %}

    <p>Estamos buscando la actividad: {{ nombre }}</p>


    {% if nombre %}
<ul>
{% for nombre in actividades %}
    <li>{{ nombre.nombre }}</li>
    <li>{{ nombre.valor }}</li>

{% endfor %}

</ul>
{% endif %}
{% endblock %}
</body>
</html>