<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% extends "app_busqueda/padre.html" %}
    {% load static %}
    {% block contenidoQueCambia %}

    <p>Estamos buscando el profesor cuya profesion es: {{ profesion }}</p>

    <i><p style="text-align: right;">Si no sale resultado es porque NO existe el profesor, caso contrario ignore este mensaje</i></p>
    <h6 style="text-align: right;">Presione en Regresar para volver al buscador de profesores</h6>
    <p style="text-align: center;">
        <a style="color: black;" href="{% url 'busqueda_profesor' %}">Regresar</a>
    </p>

    {% if profesores %}
<ul>
{% for profesor in profesores %}
    <li>{{ profesor.nombre }}</li>
    <li>{{ profesor.apellido }}</li>
    <li>{{ profesor.email }}</li>
    <li>{{ profesor.profesion }}</li>

{% endfor %}

</ul>
{% endif %}
{% endblock %}
</body>
</html>