<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    {% extends 'AppProyecto/padre.html' %}

{% load static %}

{% block title %} Inicio {% endblock title %}

{% block main %}
<p>Nombre: <strong>{{ profesores.nombre }}</strong></p>
<p>Apellido: <strong>{{ profesores.apellido }}</strong></p>
<p>Email: <strong>{{ profesores.email }}</strong></p>
<p>Actividad: <strong>{{ profesores.profesion }}</strong></p>


<p>
    <a style="color: black;" href="{% url 'lista-profesores' %}">Regresar</a>
</p>

{% endblock main %}

</body>
</html>
