<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    {% extends 'appProyecto/padre.html' %}

{% load static %}

{% block title %} Inicio {% endblock title %}

{% block main %}

    <form action="" method="POST">
        {% csrf_token %}

        <p><h6>¿Estás seguro que deseas borrar el profesor "{{ object }}"?</h6></p>
        <input type="submit" value="Borrar">

    </form>


{% endblock main %}

</body>
</html>