{% extends 'appProyecto/padre.html' %}

{% block title %} About {% endblock %}

{% block main %}
<h1>Bienvenido a la página about</h1>

<h5> En esta sección se cuenta sobre el creador de este sitio web y sus objetivos con la creación del mismo</h5>

<strong><p style="color: white;">Mi nombre es Tomás Harris Partal y soy el creador de este sitio web sobre un club deportivo</p></strong>

<p style="color: white;">Es la primera vez que creo un sitio web, y espero les guste. Hubo complicaciones pero nunca pense en abandonar, bueno capaz un poco...jaja</p>

<p style="color: white;">La creación de este sitio es con el fin de demostrar todo lo aprendido estos meses en el curso de Python de Coderhouse, y de esa manera poder seguir adquiriendo conocimientos y creciendo en este mundo inmenso que es la programación.</p>

</div>
{% endblock %}