{% extends 'app_user/padre.html' %}

{% block title %}Inicio{% endblock %}



{% block main %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card shadow-lg p-4">
            <h2 class="text-center mb-4">Ingrese datos de inicio de sesion</h2>
            <form action="" method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="d-grid gap-2">
                    <button class="btn btn-primary" type="submit">Iniciar sesión</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}