{% extends 'app_user/padre.html' %}

{% block title %}Mi perfil{% endblock %}

{% block main %}
<div class="container mt-4">
    <h1 style="color: black;" class="mb-4">Mi Perfil</h1>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Usuario: {{ user.username }}</h5>
            <p class="card-text"><strong>Email:</strong> {{ user.email }}</p>
            {% if request.user.profile.imagen %}
            <img src="{{request.user.profile.imagen.url}}" alt="" style="height: 100px;width: 100px;">
            {% else %}
            <p>No has subido un avatar.</p>
            {% endif %}

            <a href="{% url 'EditarPerfil' %}" class="btn btn-primary mt-3">Editar Perfil</a>
            <a href="{% url 'EliminarCuenta' %}" class="btn btn-danger mt-3">Eliminar Cuenta</a>
        </div>
    </div>
</div>
{% endblock main%}
